# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Clion default build directory
cmake-build-*

# Cmake default build directory
build/

# Clion config files
.idea/*

libNeonCore/libNeonCorePy/\.idea/

*.pyc

script/*
!script/run_test.cmd

.vscode

libNeonCore/src/core/git_sha1.cpp

temp
